SITE_TITLE=
SITE_KEYWORDS=
SITE_DESCRIPTION=
SITE_TIME_ZONE=
SITE_LANG=
SITE_CHARSET=UTF-8
SITE_ZOOM=0
USER_NAME=
USER_SIGN=
USER_EMAIL=
MAIN_COLOR=#39393a
BACKGROUND_COLOR=#f7f7f7
CARD_COLOR=#ffffff
CARD2_COLOR=#9891cd
TITLE_COLOR=#39393a
CONTENT_COLOR=#39393a
DESC_COLOR=#7a7a7a
TOOL_COLOR=#f1f1f1
BUTTON_COLOR=#29adff
INPUT_COLOR=#707070
TAG_COLOR=#53c3e9
SOCIAL_MEDIA={}
POST_COUNT=10
POST_HIDDEN_TIP=0
VIEW_RANGE=0
DEFAULT_TAG=
VISIT_MODE=0
BACK_TOP=1
PICTURE_ZIP=0
PICTURE_ZIP_HIGH=0
PICTURE_ENCRYPTION=0
CALENDAR_SEARCH=
LOCATION_API_URL=https://apis.map.qq.com/ws/location/v1/ip?ip={ip}&key={key}&output=json
LOCATION_API_PATH=province=result>ad_info>province,city=result>ad_info>city,district=result>ad_info>district,latitude=result>location>lat,longitude=result>location>lng
LOCATION_API_KEY=
LOCATION_SHOW_MODE=23
WEATHER_API_URL=https://api.openweathermap.org/data/2.5/weather?lat={lat}&lon={lon}&lang={lang}&appid={key}&units={units}
WEATHER_API_PATH=description=weather>0>description,icon=weather>0>icon,temp=main>temp,humidity=main>humidity
WEATHER_API_KEY=
API_KEY=
DEFAULT_LOCATION=
SITE_VISIBILITY=public
PSEUDO_STATIC=0
SITE_MAP=
DISPLAY_TIP=1
COPYRIGHT=
PASS_HASH=
PASS_SALT=
DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=
DB_PORT=
DB_KEY=
CACHE=
CORS=0