@font-face {
    font-family: 'icomoon';
    src:
        url('fonts/main.icomoon.ttf?qg9j02') format('truetype'),
        url('fonts/main.icomoon.woff?qg9j02') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 图标定位修复 */
[class^="icon-"]::before,
[class^="icon-"]::after,
[class*="icon-"]::before,
[class*="icon-"]::after {
    display: inline-block;
    transform: translateY(1px);
}

.icon-share:before {
    content: "\e90e";
}

.icon-ENC:before {
    content: "\e910";
}

.icon-GIF:before {
    content: "\e91f";
}

.icon-linka:before {
    content: "\e915";
}

.icon-exit:before {
    content: "\e91a";
}

.icon-info:before {
    content: "\e914";
}

.icon-clear:before {
    content: "\e911";
}

.icon-tags:before {
    content: "\e90a";
}

.icon-to-top:before {
    content: "\e90c";
}

.icon-settings:before {
    content: "\e908";
}

.icon-topic:before {
    content: "\e90b";
}

.icon-close:after {
    content: "\e901";
}

.icon-calendar:before {
    content: "\e900";
}

.icon-editor:before {
    content: "\e902";
}

.icon-expand:after {
    content: "\e903";
}

.icon-eye:before {
    content: "\e904";
}

.icon-eye-blocked:before {
    content: "\e905";
}

.icon-search:before {
    content: "\e907";
}

.icon-sort:before {
    content: "\e909";
}

.icon-user:before {
    content: "\e90d";
}

.icon-play_circle_filled:before {
    content: "\e90f";
}

.icon-email:before {
    content: "\f0e0";
}

.icon-push_pin:before {
    content: "\e91e";
}